obj/InterviewCake.csproj.nuget.cache
obj/InterviewCake.csproj.nuget.dgspec.json
obj/Debug/netcoreapp2.2/InterviewCake.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/InterviewCake.dll
obj/Debug/netcoreapp2.2/InterviewCake.pdb
